{% extends "layout.html" %}

{% block title %}
    Edit Post
{% endblock %}

{% block main %}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://use.fontawesome.com/6e865d9abf.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/static/functions.js"></script>
    <style>
        /* Container needed to position the button. Adjust the width as needed */
        .container-relative {
            position: relative;
            display: inline-block;
            width: 80px;
            height: 90px;
            margin-right: 4px;
        }
        
                       
        /* Style the button and place it in the middle of the container/image */
        .container-relative .btn-relative {
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: #555;
            color: white;
            font-size: 12px;
            width: 100%;
            border: none;
            cursor: pointer;
            opacity: 0.8;
        
        }
        
        .container-relative .btn-relative:hover {
            opacity: 0.9;
        }
        .btn-delete{
            padding-top: 0px;
            padding-bottom: 0px;
            padding-left: 3px;
            padding-right: 3px;
        } 
        .w-60{
            width: 60%!important;
        }
        @media(min-width:576px){
            .compatibility{
                width: 45%!important;
            }         
      }
      @media(max-width:576px){
        .compatibility{
            width: 60%!important;
        }   
      }
        
    </style>
</head>
    <form id="editPartForm" class="user-info-container p-4 mt-3 mb-3" method="post" action="/editpart">
        <div class="row">
            <div class="col-sm-6 mb-2">
                <label class="text-info">Name</label>
                <input name="part_id" id="part_id" class="d-none" value="{{part.id}}">
                <input name="part_name" class="partsInput" placeholder="Name" type="text" value="{{part.part_name}}">
            </div>
            <div class="col-sm-6 mb-2">
                <label class="text-info">Price</label>
                <input name="price" placeholder="Price" class="partsInput" type="number" value="{{part.price}}">        
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label class="text-info">Description</label>
               <textarea class="partsInput" rows="2" name="description" placeholder="Description">{{part.description}}</textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label class="text-info">
                    Pictures
                </label>
                <input type="file" name="file" id="file" multiple class="mb-2 w-100">
                <div id="pics">
                    {% for picture in part.pictures %}
                    <div class="container-relative">
                        <img class="h-100 w-100" id="pic" src="{{picture.url}}">
                        <button data-id="{{picture.id}}" class="btn-relative">X</button>
                      </div>
                    
                    {% endfor %} 
                    <div id="uploading" class="spinner-border text-primary" role="status" style="display: none;">
                        <span class="visually-hidden">Uploading...</span>
                      </div>                   
                </div>
                <div class="alert alert-warning alert-dismissible fade show d-none mb-2" role="alert" id="alterta">
                    <strong id="textAltert">Only Images Allowed</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
            </div>
        </div>
        <hr>
        <div class="row mb-2">
            <div class="col-sm-12">
               <h6 class="text-info">Compatibility</h6>
               <select class="partsInput mb-2" id="makeSelect">
                   <option value="">- Make -</option>
                   {% for item in part.cars %}
                   <option value="{{ item.id }}">{{item.make}}</option>
                   {% endfor %}
               </select>
               <select class="partsInput mb-2" id="modelSelect">
                    <option value="">- Model -</option>               
               </select>
               <select class="partsInput mb-2" id="yearSelect">
                    <option value="">- Year -</option>
               </select>
               <input class="btn btn-primary w-25 mb-2" value="Add" id="addCompatibilityBtn" type="button">
               <div id="compatibilityContainer">
                {% for item in part.compatibility %}
                <div class="mb-2 d-flex">
                    <div class="d-inline compatibility">
                        {{item.make + " / " + item.car_model + " / " + item.year}}
                    </div>
                    <div class="btn-delete btn btn-danger d-inline" data-id="{{item.id}}">
                        <i class="fa-solid fa-trash-can fa-xs"></i>
                    </div>
                </div>
                

                {% endfor %}
               </div>
            </div>
        </div>
      
        <hr>  
        <div class="row mb-2">
            <div class="col-sm-12">
               <h6 class="text-info">Features</h6>
               <div class="row">
                   <div class="col-6">
                    <input type="text" autocomplete="off" class="partsInput mb-3" placeholder="Feature Name" id="featureName">
                   </div>
                   <div class="col-6">
                    <input type="text" autocomplete="off" class="partsInput mb-3" placeholder="Value" id="featureValue">
                    </div>
               </div>              
               <div class="row">
                <div class="col-12">
                 <input type="text" autocomplete="off" class="partsInput mb-3" placeholder="Description" id="featureDescription">
                </div>                
            </div>   
               <input class="btn btn-primary w-25 mb-2 d-block" value="Add" id="addFeatureBtn" type="button">
               <div id="featuresContainer">
                {% for item in part.features %}
                <div class="row">
                    <div class="col-3">{{item.name}}</div>
                    <div class="col-3">{{item.value}}</div>
                    <div class="col-5">{{item.description}}</div>
                    <div class="col-1">
                        <div class="btn-delete btn btn-danger d-inline delete-feature" data-id="{{item.id}}">
                            <i class="fa-solid fa-trash-can fa-xs"></i>
                        </div>
                    </div>
                   </div>
                {% endfor %}
               </div>
            </div>
        </div>
      
        <hr>           
        <input type="submit" class="btn bg-green" value="Submit" id="submitBtn">
        <div id="loading" class="spinner-border text-primary" role="status" style="display: none;">
            <span class="visually-hidden">Loading...</span>
          </div>
    </form>
    <script>
        
        $(document).ready(function(){
          
            $('#newPartForm').validate({
                rules:{
                    part_name:"required",
                    price: "required",
                    description: "required"                    
                },
                messages:{
                    part_name:"You must provide a name",
                    price: "You must provide a price",
                    description : "You must describe"               
                },
                
            });

        })
        // deletes a picture
        $(document).on('click','.btn-relative',function(){
            var id = $(this).data('id');
            var idpart = $('#part_id').val();
            $.ajax({                              
                url: "/deletepicture",
                type: 'POST',
                async: false,                  
                data:{
                    id:id,
                    idpart:idpart
                },
                success: function (response) {                  
                    var html = '';
                    $(response).each(function(i,item){
                        
                        html = html + `<div class="container-relative">
                                        <img id="pic" src="${item.url}" class="h-100 w-100">
                                        <button data-id="${item.id}" class="btn-relative">X</button>
                                       </div>`;
                          

                    });
                    html = html + '<div id="uploading" class="spinner-border text-primary ms-4" role="status" style="display: none;">\
                                    <span class="visually-hidden">Uploading...</span>\
                                   </div>';   
                    $('#pics').html(html) 
                    $('#file').val('');
                    
                },
            });
            
        });
        // adds new picture
        $(document).on('change','#file',function(){
            var imagen = document.getElementById("file")
            const[file] = imagen.files
            var html = '';
            var ok = true;
            $(imagen.files).each(function(i, item){
                
                if(item.type.split('/')[0] != 'image'){
                    
                    ok = false;
                }
                if (ok){
                   

                    var pics = new FormData();
                    var imagen = document.getElementById("file");
                    $(imagen.files).each(function(i, item){
                       var name = item.name;
                     pics.append(name, item)                   
                    });
                    //pics.append("files", imagen.files)     
                    
                    var object = {
                        idpart : $('#part_id').val()        
                    };
                    pics.append('object', JSON.stringify(object))
                   
                        $('#uploading').show(function(){
                            $.ajax({
                                
                                url: "/uploadpicture",
                                type: 'POST',
                                async: false,
                                contentType: false,
                                processData: false,
                                data:pics,
                                success: function (response) {  
                                    var html = '';                
                                    $(response).each(function(i,item){
                                        
                                        html = html + `<div class="container-relative">
                                            <img id="pic" src="${item.url}" class="h-100 w-100">
                                            <button data-id="${item.id}" class="btn-relative">X</button>
                                          </div>`;
                                          
                
                                    });
                                    html = html + '<div id="uploading" class="spinner-border text-primary" role="status" style="display: none;">\
                                                     <span class="visually-hidden">Uploading...</span>\
                                                   </div>';   
                                    $('#pics').html(html) 
                                    $('#file').val('');                            
                                },
                            });
                        });
                }             
               
              
            })
            if (ok){
                $('#pics').append(html)
            }
            else{
                imagen.value = "";
                $('#alterta').removeClass('d-none');
            }
            
        })
        // fills models on make selected
        $(document).on('change','#makeSelect',function(){
            var $this = $(this);            
            $.ajax({
                url: "/getModels",
                type: 'POST',
                async: false,
                dataType: 'json',
                data:{
                    idmake : $this.val()
                },
                success: function (data) {                    
                  $('#modelSelect').append(populateSelect(data))  
                    
                },
            });
        });  
        // fills years on model selected
        $(document).on('change','#modelSelect',function(){
            var $this = $(this);            
            $.ajax({
                url: "/getYears",
                type: 'POST',
                async: false,
                dataType: 'json',
                data:{
                    idmodel : $this.val()
                },
                success: function (data) {                    
                  $('#yearSelect').append(populateSelect(data))  
                    
                },
            });
        }); 
        // adds compatibility
        $(document).on('click','#addCompatibilityBtn',function(){
            $('#compatibilityContainer').find('.error').remove();
            var idCarMake = $('#makeSelect option:selected');
            var idModel = $('#modelSelect option:selected');
            var idYear = $('#yearSelect option:selected');

            if (idCarMake.val() && idModel.val() && idYear.val())
            {
                $.ajax({
                    url: "/addcompatibility",
                    type: 'POST',
                    async: false,
                    dataType: 'json',
                    data:{
                        idpart: $('#part_id').val(),
                        idcarmake : idCarMake.val(),
                        idmodel : idModel.val(),
                        idyear : idYear.val()
                    },
                    success: function (data) {  
                        if(data){
                            
                            var html = '';
                            $(data).each(function(i,item){
                            html = html + `<div class="mb-2 d-flex">
                                                <div class="d-inline w-60">
                                                    ${item.make + " / " + item.car_model + " / " + item.year}
                                                </div>
                                                <div class="btn-delete btn btn-danger d-inline" data-id="${item.id}">
                                                    <i class="fa-solid fa-trash-can fa-xs"></i>
                                                </div>
                                           </div>`;    
        
                            });
                            $('#compatibilityContainer').html(html);
                            $('#makeSelect').val('');
                            $('#modelSelect').val('');
                            $('#yearSelect').val('');                  
                        }                      
                    },
                });
            }                      
        });
        // deletes compatibility
        $(document).on('click','.btn-delete',function(){
            var $this = $(this);
            var id = $this.data('id');
            var idpart = $('#part_id').val();
            $.ajax({
                url: "/deletecompatibility",
                type: 'POST',
                async: false,
                dataType: 'json',
                data:{
                    id : id,
                    idpart : idpart
                },
                success: function (data) {  
                    var html = '';
                    $(data).each(function(i,item){
                    html = html + `<div class="mb-2 d-flex">
                                        <div class="d-inline w-60">
                                            ${item.make + " / " + item.car_model + " / " + item.year}
                                        </div>
                                        <div class="btn-delete btn btn-danger d-inline" data-id="${item.id}">
                                            <i class="fa-solid fa-trash-can fa-xs"></i>
                                        </div>
                                   </div>`;    

                    });
                    $('#compatibilityContainer').html(html);
                    
                    
                },
            });
        })
        //deletes feature
        $(document).on('click','.delete-feature',function(){
            var $this = $(this);
            var idfeature = $this.data('id');
            var idpart = $('#part_id').val();
            $.ajax({
                url: "/deletefeature",
                type: 'POST',
                async: false,
                dataType: 'json',
                data:{
                    idfeature : idfeature,
                    idpart : idpart
                },
                success: function (data) {  
                    var html = '';
                    $(data).each(function(i,item){
                        html = html + `<div class="row">
                            <div class="col-3">${item.name}</div>
                            <div class="col-3">${item.value}</div>
                            <div class="col-5">${item.description}</div>
                            <div class="col-1">
                                <div class="btn-delete btn btn-danger d-inline delete-feature" data-id="${item.id}">
                                    <i class="fa-solid fa-trash-can fa-xs"></i>
                                </div>
                            </div>
                           </div>`;   

                    });
                    $('#featuresContainer').html(html);
                    
                    
                },
            });
        });
        // adds feature
        $(document).on('click','#addFeatureBtn', function(){   
            if($('#featureName').val() && $('#featureValue').val() && $('#featureDescription').val())
            {
                var name = $('#featureName').val();
                var value = $('#featureValue').val();
                var description = $('#featureDescription').val()
                var idpart = $('#part_id').val();
                $.ajax({
                    url: "/addfeature",
                    type: 'POST',
                    async: false,
                    dataType: 'json',
                    data:{
                        name : name,
                        value : value,
                        description : description,
                        idpart : idpart
                    },
                    success: function (data) {  
                        var html = '';
                        $(data).each(function(i,item){
                            html = html + `<div class="row">
                                <div class="col-3">${item.name}</div>
                                <div class="col-3">${item.value}</div>
                                <div class="col-5">${item.description}</div>
                                <div class="col-1">
                                    <div class="btn-delete btn btn-danger d-inline delete-feature" data-id="${item.id}">
                                        <i class="fa-solid fa-trash-can fa-xs"></i>
                                    </div>
                                </div>
                               </div>`;   
    
                        });
                        $('#featuresContainer').html(html);
                        
                        
                    },
                });
                
            }           
        });
    </script>
  

    
{% endblock %}