{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
    
    
    <h4 class="text-center mb-4 mt-3">Register</h4>
    <form action="/register" method="post" class="ps-4 pe-4" id="registerForm">
        <div class="row g-3">
            <div class="col-md-6 mb-2">
                <input autocomplete="off" title="First Name" autofocus class="form-control" id="first_name" name="first_name" placeholder="First Name" type="text">
            </div>
            <div class="col-md-6 mb-2">
                <input autocomplete="off" title="Last Name" autofocus class="form-control" id="last_name" name="last_name" placeholder="Last Name" type="text">
            </div>
            <div class="col-md-12 mb-2">
                <input autocomplete="off" autofocus class="form-control" id="address" name="address" placeholder="Address" type="text">
            </div>
   
            <div class="col-md-4 mb-2">
                <input autocomplete="off" autofocus class="form-control" id="phone_number" name="phone_number" placeholder="Phone Number" type="text">
            </div>
            <div class="col-md-4 mb-2">
                <input autocomplete="off" autofocus class="form-control" id="email" name="email" placeholder="Email" type="text">
            </div>
            <div class="col-md-4 mb-2">
                <input autocomplete="off" autofocus class="form-control" id="confirmation_email" name="confirmation_email" placeholder="Confirmation Email" type="text">
            </div>
            <div class="col-md-6 mb-2">
                <input autocomplete="off" autofocus class="form-control" id="password" name="password" placeholder="Password" type="password">
            </div>
            <div class="col-md-6 mb-2">
                <input autocomplete="off" autofocus class="form-control" id="confirmation_password" name="confirmation_password" placeholder="Confirmation Password" type="password">
            </div>
        </div>
    
        <button class="btn bg-green text-white mt-3" type="submit">Register</button>
    </form>
    <script>
    
        $(document).ready(function(){
            $( "#registerForm" ).validate({
                rules: {
                  first_name: "required",
                  last_name: "required",
                  address: "required",
                  phone_number: "required",                  
                  email: {
                    required: true,
                    email: true,
                    remote: "emailvalidation"                
                  },
                  confirmation_email:{
                    equalTo: "#email"
                  },
                  password: "required",
                  confirmation_password: {
                      equalTo: "#password"
                  }
                }
              });
        })
    </script>
{% endblock %}